body{
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

nav{
    background-color: rgb(238, 238, 238);
}


.navtop{
    display: flex;
    align-items: right;
    justify-content: center;
    background-color: rgb(235, 235, 235);
}

.topitem{
    display: flex;
    align-items: center;
    margin-inline: 40px;
    color: rgb(66, 66, 66);
    cursor: pointer;
}


.navmiddle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 30px;
    padding-block: 20px;
    background-color: lightgray;
}

.items{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuitem{
    margin-inline: 40px;
    cursor: pointer;
    color: rgb(66, 66, 66);
}

.navitem{
    display: flex;
    align-items: left;
}

.search{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 30px;
}

.searchinput{
    border: none;
    background-color: transparent;
}

.searchinput::placeholder{
    color: rgb(66, 66, 66);
    border: none;
}




.slider{
    background-image:url(gambar/w11.png);
    background-repeat: no-repeat;
    background-size:cover;
}

.sliderwrap{
    display: flex;
    align-items: center;
    justify-content: center;
}

.slideritem{
    height: 60vw;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slidertitle{
    position: absolute;
    color: white;
    top: 10%;
    right: 25%;
    font-size: 80px;
    font-weight: 1000;
    text-align: center;
}

.slidertxt{
    position: absolute;
    color: white;
    bottom: 10%;
    right: 30%;
    font-size: 40px;
    font-weight: 1000;
    text-align: center;
    cursor: pointer;
}

.sliderimage{
    position: absolute;
    left: 20%;
    align-items: center;
}
